spring:
  application:
    name: coindesk-service

  # H2 Database
  datasource:
    url: jdbc:h2:mem:coindeskdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    defer-datasource-initialization: true

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
